:root {
	--coffee-colour: #F2EFDF;

	--light-colour: #FFFBEF;
	--slightly-dark-colour: #F8F5E4;
	--even-darker-colour: #F2EFDF;
	--more-dark-colour: #EDEADA;
	--dark-colour: #E8E5D5;
	--darkest-colour: #BEC5B2;

	--red-colour: #FBE3DA;
	--blue-colour: #E9F0E9;
	--yellow-colour: #FAEDCD;
	--light-green-colour: #F0F1D2;
	--dark-green-colour: #FAEDCD;

	--almost-black-colour: ##232A2E;
}